<div class="card row">
  <div class="card-section">
    <div class="small-10 medium-3 columns">
      <td><%= image_tag @zombie.avatar, :class=>'zombieavatar' %></td>
    </div>
    <div class="small-10 medium-9 columns">
      <h4><%= @zombie.name %></h4>
      <strong>Bio:</strong>
      <%= @zombie.bio %>
      <br>
      <strong>Age:</strong>
      <%= @zombie.age %>
      <br>
      <strong>Email:</strong>
      <%= @zombie.email %>
      <br>
      <strong>Rotten?:</strong>
      <%= @zombie.rotten %>
      <br>
      <strong>Owner:</strong>
      <% if @zombie.user_id? %>
          <%= User.find(@zombie.user_id).email %>
        <% else %>
          Sin dueño
        <% end %>
    </div>
  </div>
</div>

<div id='brains'>
  <table class="hover"> 
      <thead>
          <tr>
              <th>Flavor</th>
              <th>IQ</th>
              <th>Zombie</th>
              <th>Fresh?</th>
              <th>Added</th>
              <th colspan="3"></th>
          </tr>
      </thead>
      <tbody>
        <%= render :partial => @zombie.brains.reverse %>
      </tbody>
  </table>
</div>
  <% if current_user.role == 'Editor' || current_user.role == 'Contributor' %>
    <%= form_for([@zombie, Brain.new], remote: true) do |f| %>
      <div class="row">
        <div class="field small-10 medium-5 columns">
          <%= f.label :flavor %>
          <%= f.text_field :flavor %>
        </div>

        <div class="field small-10 medium-5 columns">
          <%= f.label :iq %>
          <%= f.number_field :iq %>
        </div>

        <div class="actions small-10 medium-10 columns">
          <%= f.label :fresh %>
          <%= f.check_box :fresh %>
        </div>

        <div class="actions  small-10 medium-3 columns">
          <%= f.submit "Add brain" %>
        </div>
      </div>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_zombie_path(@zombie), :class=>'button primary' %>
<%= link_to 'Back', zombies_path, :class=>'button primary' %>