// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.zombieimg{
    height: 100px;
    width: 100px;
}

.zombieavatar{
    height: 300px;
    width: 300px;
    position: relative;
}