<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Mi primera app Zombidiana</li>
        <li>
          <% if user_signed_in? || admin_signed_in?%>
          <a href="#">Zombie</a>
          <ul class="menu">
            <li><%= link_to 'Agregar Zombie', new_zombie_path %></li>
            <li><%= link_to 'Lista Zombies', zombies_path %></li>
          </ul>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <p class="navbar-text pull-right"> 
    <% if user_signed_in? %> 
      Logged in as <strong><%= current_user.email %></strong>. 
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
    <% elsif admin_signed_in? %> 
      Logged in as <strong><%= current_admin.email %></strong>. 
      <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> | 
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link' %>
    <% else %> 
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> | 
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %> 
    <% end %>
  </p>
  <%= yield %>

  </body>
</html>
